
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button{
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
}